<!DOCTYPE html>
<html>
<head>
	<title>Datatable Demo</title>
	<script type="text/javascript" src="//cdn.webix.com/edge/webix.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.webix.com/edge/webix.css">
	{% load static %}
	<script type="text/javascript" src="{% static 'emailer/js/routie.min.js' %}" ></script>
	
</head>
<body>


{% csrf_token %}


<script type="text/javascript">

	var rest = webix.proxy("rest", "./api/data/");

	var text_area = {
		view: "textarea",
		name: "Import email list",
		value: "paste the list here"
	};

	var header = {
			view:"toolbar",
			id:"myToolbar",
			cols:[
				{ view:"button", id:"LoadBut", value:"Load", width:100, align:"left" },
				{ view:"button", value:"Save", width:100, align:"center" },
				{ view:"button", value:"Info", width:100, align:"right" }]	
			};

	var table = {
		view:"datatable", 
		id:"d1",
		columns:[
			{ id:"company_name", header: ["Company", {content:"textFilter"}]},
			{ id:"first_name", header: "Name"},
			{ id:"last_name", header: "Last name"},
			{ id:"email", editor: "text"},
			{ id:"is_charterer", header:"Charterer", template:"{common.checkbox()}" },
			{ id:"is_broker", header:"Broker", template:"{common.checkbox()}" },
			{ id:"is_owner", header:"Owner", template:"{common.checkbox()}" },
			{ id:"comment"}
    	],		
		select:"row",
	    rules:{
			first_name: webix.rules.isNotEmpty,
			email: webix.rules.isEmail
    	},
		editable:true,
		editaction:"dblclick",
		url:rest,
		save: {
			url: rest,
			on:{
					onAfterSaveError:function(id,status,response, details){
						webix.message({type: "error", text: "Email with Id = " + id + "has could not be updated" + status + " and " + response});
					}
			}		
		},
		on:{
			onValidationError:function(id){
				webix.message({type: "error", text: "Email with Id = " + id + " is not correct!"});
  			},
		}
	};

	var buttons = {
		view:"toolbar", 
		cols:[
			{ gravity:2 },
			{ view:"button", value:"Add", click:function(){
				$$("d1").add({ 
					title:"New row",
					first_name:"Hello", last_name:"World", email:"0@1.com", comment: "Nil", company_name: "Unknown"
				});
			}},
			{ view:"button", value:"Remove", click:function(){
				$$("d1").remove($$("d1").getSelectedId());
			}}
		]
	};

	webix.attachEvent("onBeforeAjax", function(mode, url, data, xhr, headers){
		var key = document.querySelector("[name=csrfmiddlewaretoken]").value;
		headers["X-CSRFToken"] = key;
	});

	webix.ui({
		rows:[header, table, buttons]
	});

	$$("d1").attachEvent("onAfterEditStop", function(state, editor, ignoreUpdate){
    if(state.value != state.old){
        webix.message("Cell value was changed to "+editor.getValue());
		var tmp = state.value.toLowerCase();
		$$("d1").updateItem(editor.row, {email: tmp});
		$$("d1").refresh(editor.row);
		// this.getFormView().save();
		for (key in editor) {console.log(key)};
    	}  
	});

</script>
</body>
</html>